.root {
  background: linear-gradient(to bottom right, var(--sky-500), var(--indigo-800));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden auto;
  padding: var(--space-4);
}

@media(--md) {
  .root {
    align-items: center;
    justify-content: center;
  }
}

.card {
  background-color: var(--white);
  border: 1px solid var(--zinc-200);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow-sm);
  max-width: 100%;
  padding: var(--space-4);
  width: 100%;
}

@media(--md) {
  .card {
    max-width: var(--max-width-xl);
    padding: var(--space-12);
  }
}

.card > * + * {
  margin-top: var(--space-3);
}

@media(--md) {
  .card > * + * {
    margin-top: var(--space-6);
  }
}

.card h2 {
  color: var(--indigo-600);
  font-size: var(--font-size-base);
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: var(--line-height-none);
  text-transform: uppercase;
}

.card h1 {
  color: var(--zinc-800);
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: var(--line-height-none);
}

@media(--md) {
  .card h1 {
    font-size: var(--font-size-3xl);
  }
}

.card p {
  color: var(--zinc-600);
  font-size: var(--font-size-base);
}

.socials {
  align-items: center;
  display: flex;
  gap: var(--space-2);
  justify-content: space-between;
}

@media(--md) {
  .socials {
    gap: var(--space-4);
  }
}

.socials li {
  border: 1px solid var(--zinc-200);
  border-radius: var(--border-radius-6);
  overflow: hidden;
}

.socials a {
  color: var(--zinc-600);
  display: block;
  padding: var(--space-3) var(--space-3);
  transition: 150ms all;
}

.socials a:hover {
  background: var(--zinc-100);
}

@media(--md) {
  .socials a {
    padding: var(--space-2) var(--space-4);
  }
}

.socials svg {
  height: var(--space-4);
  width: var(--space-4);
}

.links {
  gap: var(--space-6);
  margin-top: var(--space-6);
}

.links > * + * {
  margin-top: var(--space-6);
}

.links a {
  align-items: center;
  border: 1px solid var(--zinc-200);
  border-radius: 16px;
  display: flex;
  gap: var(--space-4);
  padding: var(--space-3) var(--space-4);
  transition: 150ms all;
}

.links a:hover {
  background: var(--zinc-100);
}

.links img {
  border-radius: var(--border-radius-full);
  flex-basis: var(--space-8);
  height: var(--space-8);
  width: var(--space-8);
}

@media(--md) {
  .links img {
    flex-basis: var(--space-10);
    height: var(--space-10);
    width: var(--space-10);
  }
}

.links h3 {
  color: var(--zinc-600);
  font-size: 1rem;
  font-weight: 700;
}

.links p {
  color: var(--zinc-600);
  font-size: 1rem;
}